*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #ff5f60;
  color: #fff;
  border: 0;
  outline: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.figure {
  position: relative;
}

.figure img {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.figure .circle {
  top: 184px;
  left: 395px;
}

.figure .half-oval__small {
  top: 0;
  left: 995px;
}

.figure .half-oval__big {
  top: 0;
  right: 133px;
}

.figure .triangle {
  top: 290px;
  right: 725px;
}

.figure .polygon {
  top: 574px;
  right: 0;
}

.section--intro {
  background: -webkit-gradient(linear, left top, left bottom, from(#6c0bff), to(#6500ff));
  background: linear-gradient(#6c0bff, #6500ff);
  width: 100vw;
  height: 100vh;
}

.section--intro .header {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  color: #fff;
  margin-bottom: 150px;
}

.section--intro .header__logo {
  font-family: 'Roboto', sans-serif;
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 390px;
  cursor: pointer;
}

.section--intro .header__logo img {
  margin-bottom: -3px;
  margin-right: -8px;
  pointer-events: none;
}

.section--intro .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section--intro .header__nav li {
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: text-shadow .3s;
  transition: text-shadow .3s;
}

.section--intro .header__nav li:not(:last-child) {
  margin-right: 60px;
}

.section--intro .header__nav li:hover {
  text-shadow: #fff 0 0 5px;
}

.section--intro .header button {
  margin-right: 0;
  margin-left: auto;
}

.section--intro .intro__inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

.section--intro .intro__inner .intro__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.section--intro .intro__inner .intro__info h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 15px;
}

.section--intro .intro__inner .intro__info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 1.8;
}

.section--intro .intro__inner .intro__infobar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.section--intro .intro__inner .intro__infobar .infobar__data {
  position: relative;
  top: 0;
  left: 0;
}

.section--intro .intro__inner .intro__infobar .infobar__data div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -115px;
  left: 0;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.section--intro .intro__inner .intro__infobar .infobar__data div img {
  margin-bottom: 12px;
}

.section--intro .intro__inner .intro__infobar .infobar__data .data-1 {
  left: 174px;
}

.section--intro .intro__inner .intro__infobar .infobar__data .data-2 {
  top: -111px;
  left: 332px;
}

.section--intro .intro__inner .intro__infobar .infobar__data .data-3 {
  top: -113px;
  left: 480px;
  white-space: pre;
}

.section--intro .intro__inner .intro__infobar .infobar__data .data-4 {
  top: -268px;
  left: 295px;
}

.section--intro .intro__inner .intro__infobar .infobar__data .data-5 {
  top: -286px;
  left: 500px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.section--intro .intro__inner .intro__infobar .infobar__data .data-6 {
  top: -435px;
  left: 330px;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  color: #000;
}

.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.feedback__inner .slider {
  width: 522px;
  position: absolute;
  top: 40px;
  right: 0;
}

.feedback__inner .slider .slick-list {
  cursor: -webkit-grab;
  cursor: grab;
}

.feedback__inner .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.feedback__inner .slider .slick-dots .dot {
  width: 10px;
  height: 10px;
  background-color: #fed9bc;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.feedback__inner .slider .slick-dots .dot:hover {
  background-color: #fdbd8a;
}

.feedback__inner .slider .slick-dots li.slick-active .dot {
  background-color: #fb8122;
}

.feedback__inner .slider .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.feedback__inner .slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.feedback__inner .slider .slide p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.feedback__inner .slider .slide span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fb8122;
  line-height: 1;
}

.feedback__inner form {
  position: absolute;
  top: -92px;
  left: 0;
}

.feedback__inner form .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  padding: 50px 45px;
  background-color: #ff5f60;
  border-radius: 7px;
}

.feedback__inner form::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 9;
  top: -10px;
  left: 0;
  background-color: #183251;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.feedback__inner form h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 25px;
  line-height: 1;
}

.feedback__inner form h2::after {
  content: '';
  display: block;
  width: 76px;
  height: 1px;
  background-color: #fff;
  margin: 10px auto 0;
}

.feedback__inner form span {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  opacity: .5;
  margin-bottom: 20px;
  line-height: 1;
}

.feedback__inner form .filling {
  border-radius: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 240px;
}

.feedback__inner form .filling input {
  padding: 10px 31px;
  border: 0;
  outline: none;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #a9a5a5;
  height: 100%;
  width: 100%;
}

.feedback__inner form .filling button {
  border: 0;
  outline: none;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #1f3148;
  cursor: pointer;
  height: 100%;
  width: 60px;
}
